@import "tailwindcss";
@layer theme, base, components, utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-shadow: 4px 4px 0 0 #be7efe;
  color-scheme: light dark;
  background-color: #fcfcfc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.box-shadow {
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.2), 3px 0 5px #818181;
}

.bg-home {
  background-image: url(/image/bg-home.jpg);
  background-size: cover; /* Ensures the image fits within the container */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-blend-mode: multiply;
}

@theme {
  --animate-fade-in-scale: fade-in-scale 0.5s ease-out;
  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
